<form class="form p-3 text-primary-emphasis " [formGroup]="FilterForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col mt-2">
            <label for="cod_negozio" class="control-label pb-2 ">Codice Negozio</label>
            <input type="text" class="form-control" id="cod_negozio" formControlName="codiceNegozio">
        </div>
        <div class="col mt-2">
            <label for="desc_negozio" class="control-label pb-2">Descrizione Negozio</label>
            <input type="text" class="form-control" id="desc_negozio" formControlName="descrizione">
        </div>
        <div class="col mt-2">
            <label for="stato" class="control-label pb-2">Stato</label>
            <select class="form-control" id="stato" formControlName="stato">
                <option *ngFor="let stato of statoTipi" value="{{stato}}">{{ stato }}</option>
            </select>
        </div>
        <div class="col mt-2">
            <label for="gestione" class="control-label pb-2">Gestione</label>
            <select class="form-control" id="gestione" formControlName="gestione">
                <option *ngFor="let gestione of gestioneTipi" value="{{gestione}}">{{ gestione }}</option>
            </select>
        </div>
    </div>
    <div class="row gap-2 ">
        <div class="col mt-2">
            <label for="start" class="pb-2">Data segnalazione da a</label>
            <input type="date" class="form-control" id="start" formControlName="dataSegnalizione">
        </div>
        <div class="col mt-2">
            <label for="area" class="control-label pb-2">Area</label>
            <select class="form-control" id="area" formControlName="area">
                <option *ngFor="let area of areaTipi" value="{{area}}">{{ area }}</option>
            </select>
        </div>
        <div class="col mt-2">
            <label for="causale" class="control-label pb-2">Causale</label>
            <select class="form-control" id="causale" formControlName="causale">
                <option *ngFor="let causale of causaleTipi" value="{{causale}}">{{ causale }}</option>
            </select>
        </div>
    </div>
    <details>

        <summary class="text-primary mt-3 mb-1">Nascondi/Mostra Filtri Avanzati</summary>
        <div class="row">
            <div class="col mt-2">
                <label for="ID" class="control-label pb-2">ID Reclamo</label>
                <input type="number" class="form-control" id="ID" formControlName="idReclamo">
            </div>
            <div class="col mt-2">
                <label for="nome_cliente" class="control-label pb-2">Nome cliente</label>
                <input type="text" class="form-control" id="nome_cliente" formControlName="nome">
            </div>
            <div class="col mt-2">
                <label for="cognome_cliente" class="control-label pb-2">Cognome cliente</label>
                <input type="text" class="form-control" id="cognome_cliente" formControlName="cognome">
            </div>
        </div>
    </details>
    <div class="row mt-4">
        <div class="col text-end gap-1 ">
            <button class="btn btn-outline-primary mx-2 rounded rounded-0 fw-bold   " type="reset" value="Azzera">Azzera</button>
            <button class="btn btn-primary rounded rounded-0  fw-bold cerca" type="submit" [class.disabled]="!hasAnyValue(FilterForm)">Cerca</button>
        </div>
    </div>
</form>